.bug-filter {
    background-color: var(--gray2);
    padding: 1em;
    border-radius: 5px;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter label {
    margin-inline-start: 1em;
}

